<template>
  <div>
    <slot />
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: `${this.$page.props.app.name}`,
      titleTemplate: `%s | ${this.$page.props.app.name}`,
    }
  },
}
</script>
